/.DS_Store
/KrusellSmith_DiscreteTime.aux
/KrusellSmith_DiscreteTime.log
/KrusellSmith_DiscreteTime.out
/KrusellSmith_DiscreteTime.tex
/KrusellSmith_DiscreteTime.toc
/huggett_r_response.png
/literature